.idea
data/
*.iml
*.db
*.zip
.vector_cache/
runs/
*.csv
./embeddings
embeddings/wandb/*
.vscode
__pycache__
*.out
secrets.yaml
out/
sqlite-jdbc-3.39.3.0.jar
META-INF/
data_tmp/
wandb/